/*Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}

/*Background*/

body{
    background-color: #a1d1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
    font-weight: 590;
}

h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #262626;
    text-align: center;
    text-decoration: underline;
}

.container{
    background-color: #a1d1b1;
    border: 1px solid #dbdbdb;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px;
}

form{
    display: flex;
    flex-direction: column;
}


label{
    text-align: left;
    padding-bottom: 10px;
    margin: 5px;
    line-height: 2.5px;
}

input{
    padding: 10px;
    border:2px solid #dbdbdb;
    border-radius: 10px;
    background: #fafafa;
    font-size: 14px;
    margin: 0px;
    
}

input:focus{
    outline: none;
    border-color: #a5a5a5;
    background: #fff;
}

#submit{
    background-color: #0095f6;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    transition: background 0.3s ease;
}

#submit:hover{
    background-color: #0077cc;
}

#application{
    margin-bottom: 15px;
    background-color: #42b72a;
    font-size: 25px;
    width: 100%;
    padding: 5px;
    font-weight: bolder;
    
}

#application:hover{
    background-color: #36a420;
}

table{
    border: 2px solid black;
    width: 100%;    
}

th,td{
    border: 2px solid;
    text-align: center;
    padding: 5px;    
}

#edit, #delete{
    font-size: 20px;
    padding: 5px;
}

#delete{
    background-color: rgba(235, 45, 45, 0.684);
}
